doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title about - digital pathways

  style#applicationStylesheet(type='text/css').
    body {
    background:
    linear-gradient(
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
    ),
    url('/static/images/background.jpg');
    height: 100vh;
    background-size: cover;
    }
    .mediaViewInfo {
    --web-view-name: About;
    --web-view-id: About;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
    }
    :root {
    --web-view-ids: About;
    }
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    }
    .About_Class {
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    --web-view-name: About;
    --web-view-id: About;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-application: true;
    --web-enable-deep-linking: true;
    }
    .Rectangle_3 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 1776px;
    height: 502px;
    left: 81px;
    top: 347px;
    }
    .wednesday__20th_november_2019_Class {
    position: absolute;
    left: 81px;
    top: 28px;
    overflow: visible;
    width: 309px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(112,112,112,1);
    }
    .Group_2_Class {
    position: absolute;
    width: 387px;
    height: 161px;
    left: 1464px;
    top: 28px;
    overflow: visible;
    }
    .digital_Class {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 216px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(0,0,0,1);
    }
    .pathways_Class {
    position: absolute;
    left: 43px;
    top: 68px;
    overflow: visible;
    width: 345px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(0,0,0,1);
    }
    .welcome_to_digital_pathways_Class {
    position: absolute;
    left: 81px;
    top: 232px;
    overflow: visible;
    width: 543px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: rgba(46,46,46,1);
    }
    .what_is_a_digital_pathway__and_Class {
    position: absolute;
    left: 113px;
    top: 377px;
    overflow: visible;
    width: 920px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
    }
    .lorem_ipsum_dolor_sit_amet__co_Class {
    position: absolute;
    left: 113px;
    top: 440px;
    overflow: visible;
    width: 1703px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,0.616);
    }
    .Group_27_Class {
    position: absolute;
    width: 220px;
    height: 82px;
    left: 81px;
    top: 911px;
    overflow: visible;
    }
    .Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 220px;
    height: 82px;
    left: 0px;
    top: 0px;
    }
    .back_Class {
    position: absolute;
    left: 84px;
    top: 26px;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(112,112,112,1);
    }
    .Group_32_Class {
    position: absolute;
    width: 220px;
    height: 82px;
    left: 1619px;
    top: 911px;
    overflow: visible;
    }
    .Rectangle_2_A9_Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 220px;
    height: 82px;
    left: 0px;
    top: 0px;
    }
    .jargon_buster_Class {
    position: absolute;
    left: 38px;
    top: 26px;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(112,112,112,1);
    }
    button {
    background-color: transparent;
    cursor: pointer;
    }

  script#applicationScript(type='text/javascript' src='/static/xd_javascript/about.js')

#About.About_Class
  svg.Rectangle_3
    rect.Rectangle_3_Class(fill='rgba(255,255,255,0.8)' rx='0' ry='0' x='0' y='0' width='1758' height='484')

  .wednesday__20th_november_2019_Class
    span#date

  form(action='index' method='POST')
    button.Group_2_Class(type='submit')
      .digital_Class
        span digital
      .pathways_Class
        span pathways

  .welcome_to_digital_pathways_Class
    span welcome to digital pathways

  .what_is_a_digital_pathway__and_Class
    span what is a digital pathway, and why does it concern you?

  .lorem_ipsum_dolor_sit_amet__co_Class
    span
      | lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      br
      | minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
      br
      | in voluptate velit esse cillum dolore eu fugiat nulla pariatur. lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
      br
      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
      br
      | ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. lorem ipsum 
      br
      | dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
      br
      | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
      br
      | velit esse cillum dolore eu fugiat nulla pariatur.

  form(action='index' method='POST')
    button.Group_27_Class(type='submit')
      svg.Rectangle_2
        rect.Rectangle_2_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' rx='0' ry='0' x='0' y='0' width='220' height='82')
      .back_Class
        span back

  form(action='jargonBuster' method='POST')
    button.Group_32_Class(type='submit')
      svg.Rectangle_2_A9_Rectangle_5
        rect.Rectangle_2_A9_Rectangle_5_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' rx='0' ry='0' x='0' y='0' width='220' height='82')
      .jargon_buster_Class
        span jargon buster

script.
  let d = new Date();
  let day = d.getDate();
  let weekday = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'][d.getDay()];
  let month = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december'][d.getMonth()];
  let year = d.getFullYear();
  let suffix = (day == 1) || (day == 21) || (day == 31) ? 'st' :
  (day == 2) || (day == 22) ? 'nd' :
  (day == 3) || (day == 23) ? 'rd' : 'th';
  let dateString = `${weekday}, ${day}${suffix} ${month} ${year}`;
  document.getElementById('date').innerHTML = dateString;