doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title case studies - digital pathways

  style#applicationStylesheet(type='text/css').
    body {
    background:
    linear-gradient(
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
    ),
    url('/static/images/background.jpg');
    height: 100vh;
    background-size: cover;
    }
    .mediaViewInfo {
    --web-view-name: Case Studies (From Home);
    --web-view-id: Case_Studies__From_Home_;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
    }
    :root {
    --web-view-ids: Case_Studies__From_Home_;
    }
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    }
    .Case_Studies__From_Home__Class {
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    --web-view-name: Case Studies (From Home);
    --web-view-id: Case_Studies__From_Home_;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-application: true;
    --web-enable-deep-linking: true;
    }
    .wednesday__20th_november_2019_Class {
    position: absolute;
    left: 81px;
    top: 28px;
    overflow: visible;
    width: 309px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(112,112,112,1);
    }
    .Group_2_Class {
    position: absolute;
    width: 387px;
    height: 161px;
    left: 1464px;
    top: 28px;
    overflow: visible;
    }
    .digital_Class {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 216px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(0,0,0,1);
    }
    .pathways_Class {
    position: absolute;
    left: 43px;
    top: 68px;
    overflow: visible;
    width: 345px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(0,0,0,1);
    }
    .have_a_look_at_some_student_su_Class {
    position: absolute;
    left: 81px;
    top: 232px;
    overflow: visible;
    width: 844px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: rgba(46,46,46,1);
    }
    .Group_28_Class {
    position: absolute;
    width: 220px;
    height: 82px;
    left: 81px;
    top: 911px;
    overflow: visible;
    }
    .Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 220px;
    height: 82px;
    left: 0px;
    top: 0px;
    }
    .back_Class {
    position: absolute;
    left: 84px;
    top: 26px;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(112,112,112,1);
    }
    .Rectangle_5 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 399px;
    height: 502px;
    left: 81px;
    top: 345px;
    }
    .Rectangle_8 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 399px;
    height: 502px;
    left: 540px;
    top: 345px;
    }
    .Rectangle_9 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 399px;
    height: 502px;
    left: 999px;
    top: 345px;
    }
    .Rectangle_10 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 399px;
    height: 502px;
    left: 1458px;
    top: 345px;
    }
    .pexels_photo_1239291 {
    position: absolute;
    overflow: visible;
    width: 381px;
    height: 179px;
    left: 81px;
    top: 345px;
    }
    .pexels_photo_736716 {
    position: absolute;
    overflow: visible;
    width: 381px;
    height: 179px;
    left: 540px;
    top: 345px;
    }
    .nick {
    position: absolute;
    overflow: visible;
    width: 381px;
    height: 179px;
    left: 999px;
    top: 345px;
    }
    .pexels_photo_1090387 {
    position: absolute;
    overflow: visible;
    width: 381px;
    height: 179px;
    left: 1458px;
    top: 345px;
    }
    .rachel_Class {
    position: absolute;
    left: 220px;
    top: 528px;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
    }
    .lorem_ipsum_dolor_sit_amet__co_Class {
    opacity: 0.596;
    position: absolute;
    left: 95px;
    top: 661px;
    overflow: visible;
    width: 357px;
    white-space: nowrap;
    text-align: center;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
    }
    .lorem_ipsum_dolor_sit_amet__co_A7_Text_8_Class {
    opacity: 0.596;
    position: absolute;
    left: 553px;
    top: 661px;
    overflow: visible;
    width: 357px;
    white-space: nowrap;
    text-align: center;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
    }
    .lorem_ipsum_dolor_sit_amet__co_A7_Text_9_Class {
    opacity: 0.596;
    position: absolute;
    left: 1012px;
    top: 661px;
    overflow: visible;
    width: 357px;
    white-space: nowrap;
    text-align: center;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
    }
    .lorem_ipsum_dolor_sit_amet__co_A7_Text_10_Class {
    opacity: 0.596;
    position: absolute;
    left: 1471px;
    top: 661px;
    overflow: visible;
    width: 357px;
    white-space: nowrap;
    text-align: center;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
    }
    .steve_Class {
    position: absolute;
    left: 685px;
    top: 528px;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
    }
    .nick_A7_Text_12_Class {
    position: absolute;
    left: 1155px;
    top: 528px;
    overflow: visible;
    width: 70px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
    }
    .naomi_Class {
    position: absolute;
    left: 1597px;
    top: 528px;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
    }
    .software_developer_Class {
    position: absolute;
    left: 170px;
    top: 577px;
    overflow: visible;
    width: 206px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
    }
    .tech_consultant_Class {
    position: absolute;
    left: 648px;
    top: 577px;
    overflow: visible;
    width: 166px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
    }
    .ui___ux_designer_Class {
    position: absolute;
    left: 1104px;
    top: 577px;
    overflow: visible;
    width: 173px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
    }
    .cyber_security_expert_Class {
    position: absolute;
    left: 1536px;
    top: 577px;
    overflow: visible;
    width: 226px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
    }
    .deloitte_digital_Class {
    position: absolute;
    left: 209px;
    top: 608px;
    overflow: visible;
    width: 127px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112,112,112,1);
    }
    .deloitte_Class {
    position: absolute;
    left: 698px;
    top: 608px;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112,112,112,1);
    }
    .king_games_Class {
    position: absolute;
    left: 1133px;
    top: 607px;
    overflow: visible;
    width: 114px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(112,112,112,1);
    }
    .google_Class {
    position: absolute;
    left: 1615px;
    top: 607px;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(112,112,112,1);
    }
    button {
    background-color: transparent;
    cursor: pointer;
    }

  script#applicationScript(type='text/javascript' src='/static/xd_javascript/caseStudies.js')

#Case_Studies__From_Home_.Case_Studies__From_Home__Class
  .wednesday__20th_november_2019_Class
    span#date

  form(action='home' method='POST')
    button.Group_2_Class(type='submit')
      .digital_Class
        span digital
      .pathways_Class
        span pathways

  .have_a_look_at_some_student_su_Class
    span have a look at some student success stories

  form(action=lastPage method='POST')
    button.Group_28_Class(type='submit')
      svg.Rectangle_2
        rect.Rectangle_2_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' rx='0' ry='0' x='0' y='0' width='220' height='82')
      .back_Class
        span back

  svg.Rectangle_5
    rect.Rectangle_5_Class(fill='rgba(255,255,255,1)' rx='0' ry='0' x='0' y='0' width='381' height='484')

  svg.Rectangle_8
    rect.Rectangle_8_Class(fill='rgba(255,255,255,1)' rx='0' ry='0' x='0' y='0' width='381' height='484')

  svg.Rectangle_9
    rect.Rectangle_9_Class(fill='rgba(255,255,255,1)' rx='0' ry='0' x='0' y='0' width='381' height='484')

  svg.Rectangle_10
    rect.Rectangle_10_Class(fill='rgba(255,255,255,1)' rx='0' ry='0' x='0' y='0' width='381' height='484')

  svg.pexels_photo_1239291
    pattern#pexels_photo_1239291_A7_Rectangle_9_pattern(elementid='pexels_photo_1239291_A7_Rectangle_9' x='0' y='0' width='100%' height='100%')
      image(x='0' y='0' width='100%' height='100%' href='/static/images/pexels_photo_1239291_A7_Rectangle_9_pattern.png' xlink:href='/static/images/pexels_photo_1239291_A7_Rectangle_9_pattern.png')
    rect.pexels_photo_1239291_Class(fill='url(#pexels_photo_1239291_A7_Rectangle_9_pattern)' rx='0' ry='0' x='0' y='0' width='381' height='179')

  svg.pexels_photo_736716
    pattern#pexels_photo_736716_A7_Rectangle_11_pattern(elementid='pexels_photo_736716_A7_Rectangle_11' x='0' y='0' width='100%' height='100%')
      image(x='0' y='0' width='100%' height='100%' href='/static/images/pexels_photo_736716_A7_Rectangle_11_pattern.png' xlink:href='/static/images/pexels_photo_736716_A7_Rectangle_11_pattern.png')
    rect.pexels_photo_736716_Class(fill='url(#pexels_photo_736716_A7_Rectangle_11_pattern)' rx='0' ry='0' x='0' y='0' width='381' height='179')

  svg.nick
    pattern#nick_A7_Rectangle_13_pattern(elementid='nick_A7_Rectangle_13' x='0' y='0' width='100%' height='100%')
      image(x='0' y='0' width='100%' height='100%' href='/static/images/nick_A7_Rectangle_13_pattern.png' xlink:href='/static/images/nick_A7_Rectangle_13_pattern.png')
    rect.nick_Class(fill='url(#nick_A7_Rectangle_13_pattern)' rx='0' ry='0' x='0' y='0' width='381' height='179')

  svg.pexels_photo_1090387
    pattern#pexels_photo_1090387_A7_Rectangle_15_pattern(elementid='pexels_photo_1090387_A7_Rectangle_15' x='0' y='0' width='100%' height='100%')
      image(x='0' y='0' width='100%' height='100%' href='/static/images/pexels_photo_1090387_A7_Rectangle_15_pattern.png' xlink:href='/static/images/pexels_photo_1090387_A7_Rectangle_15_pattern.png')
    rect.pexels_photo_1090387_Class(fill='url(#pexels_photo_1090387_A7_Rectangle_15_pattern)' rx='0' ry='0' x='0' y='0' width='381' height='179')

  .rachel_Class
    span rachel

  .lorem_ipsum_dolor_sit_amet__co_Class
    span
      | lorem ipsum dolor sit amet, consectetur 
      br
      | adipiscing elit, sed do eiusmod tempor 
      br
      | incididunt ut labore et dolore magna 
      br
      | aliqua. Ut enim adminim veniam, 
      br
      | quis nostrud exercitation ullamco laboris nisi ut 
      br
      | aliquip ex ea commodo consequat.

  .lorem_ipsum_dolor_sit_amet__co_A7_Text_8_Class
    span
      | lorem ipsum dolor sit amet, consectetur 
      br
      | adipiscing elit, sed do eiusmod tempor 
      br
      | incididunt ut labore et dolore magna 
      br
      | aliqua. Ut enim adminim veniam, 
      br
      | quis nostrud exercitation ullamco laboris nisi ut 
      br
      | aliquip ex ea commodo consequat.

  .lorem_ipsum_dolor_sit_amet__co_A7_Text_9_Class
    span
      | lorem ipsum dolor sit amet, consectetur 
      br
      | adipiscing elit, sed do eiusmod tempor 
      br
      | incididunt ut labore et dolore magna 
      br
      | aliqua. Ut enim adminim veniam, 
      br
      | quis nostrud exercitation ullamco laboris nisi ut 
      br
      | aliquip ex ea commodo consequat.

  .lorem_ipsum_dolor_sit_amet__co_A7_Text_10_Class
    span
      | lorem ipsum dolor sit amet, consectetur 
      br
      | adipiscing elit, sed do eiusmod tempor 
      br
      | incididunt ut labore et dolore magna 
      br
      | aliqua. Ut enim adminim veniam, 
      br
      | quis nostrud exercitation ullamco laboris nisi ut 
      br
      | aliquip ex ea commodo consequat.

  .steve_Class
    span steve

  .nick_A7_Text_12_Class
    span nick

  .naomi_Class
    span naomi

  .software_developer_Class
    span software developer

  .tech_consultant_Class
    span tech consultant

  .ui___ux_designer_Class
    span ui &amp; ux designer

  .cyber_security_expert_Class
    span cyber security expert

  .deloitte_digital_Class
    span deloitte digital

  .deloitte_Class
    span deloitte

  .king_games_Class
    span king games

  .google_Class
    span google

script.
  let d = new Date();
  let day = d.getDate();
  let weekday = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'][d.getDay()];
  let month = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december'][d.getMonth()];
  let year = d.getFullYear();
  let suffix = (day == 1) || (day == 21) || (day == 31) ? 'st' :
  (day == 2) || (day == 22) ? 'nd' :
  (day == 3) || (day == 23) ? 'rd' : 'th';
  let dateString = `${weekday}, ${day}${suffix} ${month} ${year}`;
  document.getElementById('date').innerHTML = dateString;