doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title jargon buster - digital pathways

  style#applicationStylesheet(type='text/css').
    body {
    background:
    linear-gradient(
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
    ),
    url('/static/images/background.jpg');
    height: 100vh;
    background-size: cover;
    }
    .mediaViewInfo {
    --web-view-name: Jargon Buster (From About);
    --web-view-id: Jargon_Buster__From_About_;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
    }
    :root {
    --web-view-ids: Jargon_Buster__From_About_;
    }
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    }
    .Jargon_Buster__From_About__Class {
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    --web-view-name: Jargon Buster (From About);
    --web-view-id: Jargon_Buster__From_About_;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-application: true;
    --web-enable-deep-linking: true;
    }
    .wednesday__20th_november_2019_Class {
    position: absolute;
    left: 81px;
    top: 28px;
    overflow: visible;
    width: 309px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(112,112,112,1);
    }
    .Group_2_Class {
    position: absolute;
    width: 387px;
    height: 161px;
    left: 1464px;
    top: 28px;
    overflow: visible;
    }
    .digital_Class {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 216px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(0,0,0,1);
    }
    .pathways_Class {
    position: absolute;
    left: 43px;
    top: 68px;
    overflow: visible;
    width: 345px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(0,0,0,1);
    }
    .jargon_buster_Class {
    position: absolute;
    left: 80px;
    top: 232px;
    overflow: visible;
    width: 257px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: rgba(46,46,46,1);
    }
    .Group_28_Class {
    position: absolute;
    width: 220px;
    height: 82px;
    left: 81px;
    top: 911px;
    overflow: visible;
    }
    .Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 220px;
    height: 82px;
    left: 0px;
    top: 0px;
    }
    .back_Class {
    position: absolute;
    left: 84px;
    top: 26px;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(112,112,112,1);
    }
    .Rectangle_5 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 399px;
    height: 502px;
    left: 81px;
    top: 345px;
    }
    .Rectangle_8 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 399px;
    height: 502px;
    left: 540px;
    top: 345px;
    }
    .Rectangle_9 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 399px;
    height: 502px;
    left: 999px;
    top: 345px;
    }
    .Rectangle_10 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 399px;
    height: 502px;
    left: 1458px;
    top: 345px;
    }
    .ui___ux_designer_Class {
    position: absolute;
    left: 138px;
    top: 359px;
    overflow: visible;
    width: 271px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
    }
    .software_engineer_Class {
    position: absolute;
    left: 580px;
    top: 359px;
    overflow: visible;
    width: 302px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
    }
    .database_admin_Class {
    position: absolute;
    left: 1057px;
    top: 359px;
    overflow: visible;
    width: 267px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
    }
    .it_security_analyst_Class {
    position: absolute;
    left: 1503px;
    top: 359px;
    overflow: visible;
    width: 291px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
    }
    .User_interface_includes_all_th_Class {
    opacity: 0.596;
    position: absolute;
    left: 97px;
    top: 464px;
    overflow: visible;
    width: 353px;
    white-space: nowrap;
    text-align: center;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
    }
    .Responsible_for_designing__tes_Class {
    opacity: 0.596;
    position: absolute;
    left: 574px;
    top: 464px;
    overflow: visible;
    width: 315px;
    white-space: nowrap;
    text-align: center;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
    }
    .Responsible_for_managing_the_d_Class {
    opacity: 0.596;
    position: absolute;
    left: 1009px;
    top: 464px;
    overflow: visible;
    width: 363px;
    white-space: nowrap;
    text-align: center;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
    }
    .Information_Security_Analysts__Class {
    opacity: 0.596;
    position: absolute;
    left: 1475px;
    top: 464px;
    overflow: visible;
    width: 349px;
    white-space: nowrap;
    text-align: center;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
    }
    .definition_Class {
    position: absolute;
    left: 223px;
    top: 408px;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
    }
    .definition_A10_Text_15_Class {
    position: absolute;
    left: 681px;
    top: 408px;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
    }
    .definition_A10_Text_16_Class {
    position: absolute;
    left: 1140px;
    top: 408px;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
    }
    .definition_A10_Text_17_Class {
    position: absolute;
    left: 1599px;
    top: 408px;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
    }
    button {
    background-color: transparent;
    cursor: pointer;
    }

  script#applicationScript(type='text/javascript' src='/static/xd_javascript/jargonBuster.js')

#Jargon_Buster__From_About_.Jargon_Buster__From_About__Class
  .wednesday__20th_november_2019_Class
    span#date

  form(action='home' method='GET')
    button.Group_2_Class(type='submit')
      .digital_Class
        span digital
      .pathways_Class
        span pathways

  .jargon_buster_Class
    span jargon buster

  form(action=lastPage method='POST')
    button.Group_28_Class(type='submit')
      svg.Rectangle_2
        rect.Rectangle_2_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' rx='0' ry='0' x='0' y='0' width='220' height='82')
      .back_Class
        span back

  svg.Rectangle_5
    rect.Rectangle_5_Class(fill='rgba(255,255,255,1)' rx='0' ry='0' x='0' y='0' width='381' height='484')

  svg.Rectangle_8
    rect.Rectangle_8_Class(fill='rgba(255,255,255,1)' rx='0' ry='0' x='0' y='0' width='381' height='484')

  svg.Rectangle_9
    rect.Rectangle_9_Class(fill='rgba(255,255,255,1)' rx='0' ry='0' x='0' y='0' width='381' height='484')

  svg.Rectangle_10
    rect.Rectangle_10_Class(fill='rgba(255,255,255,1)' rx='0' ry='0' x='0' y='0' width='381' height='484')

  .ui___ux_designer_Class
    span ui &amp; ux designer

  .software_engineer_Class
    span software engineer

  .database_admin_Class
    span database admin

  .it_security_analyst_Class
    span it security analyst

  .User_interface_includes_all_th_Class
    span
      | User interface includes all the parts
      br
      |  of a website, app, computer, smartphone, 
      br
      | etc. that the user can manipulate
      br
      |  and interact with. Display and touch
      br
      |  screens, website menus, keyboards, 
      br
      | your cursor&mdash;these are all part of a user 
      br
      | interface. UX describes the emotions, attitudes, 
      br
      | and ease-of-use a person has when using
      br
      |  a product or service. UX Design is the
      br
      |  practice of using design to improve 
      br
      | communication between a product and its user
      br
      |  in order to enhance the user&rsquo;s overall 
      br
      | experience.

  .Responsible_for_designing__tes_Class
    span
      | Responsible for designing, testing and 
      br
      | evaluating software. There is a huge 
      br
      | demand for software engineers due 
      br
      | to the growing number of start-ups
      br
      |  and increasing complexity in technology.

  .Responsible_for_managing_the_d_Class
    span
      | Responsible for managing the database in which 
      br
      | data is stored. The database needs to be
      br
      |  safe and regularly backed up and this is
      br
      |  the responsibility of the database administrator.

  .Information_Security_Analysts__Class
    span
      | Information Security Analysts are responsible 
      br
      | for ensuring networks are watertight. They
      br
      |  educate staff to avoid unintended disclosures 
      br
      | and keep up to speed with potential external
      br
      |  threats. By conducting risk and vulnerability
      br
      |  assessments and engaging in defence 
      br
      | planning, they utilise analytical and 
      br
      | problem-solving skills.

  .definition_Class
    span definition

  .definition_A10_Text_15_Class
    span definition

  .definition_A10_Text_16_Class
    span definition

  .definition_A10_Text_17_Class
    span definition

script.
  let d = new Date();
  let day = d.getDate();
  let weekday = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'][d.getDay()];
  let month = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december'][d.getMonth()];
  let year = d.getFullYear();
  let suffix = (day == 1) || (day == 21) || (day == 31) ? 'st' :
  (day == 2) || (day == 22) ? 'nd' :
  (day == 3) || (day == 23) ? 'rd' : 'th';
  let dateString = `${weekday}, ${day}${suffix} ${month} ${year}`;
  document.getElementById('date').innerHTML = dateString;