doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title skills - digital pathways

  style#applicationStylesheet(type='text/css').
    body {
    background:
    linear-gradient(
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
    ),
    url('/static/images/background.jpg');
    height: 100vh;
    background-size: cover;
    }
    .mediaViewInfo {
    --web-view-name: Skills;
    --web-view-id: Skills;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
    }
    :root {
    --web-view-ids: Skills;
    }
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    }
    .Skills_Class {
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    --web-view-name: Skills;
    --web-view-id: Skills;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
    }
    .wednesday__20th_november_2019_Class {
    position: absolute;
    left: 81px;
    top: 28px;
    overflow: visible;
    width: 309px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(112,112,112,1);
    }
    .Group_2_Class {
    position: absolute;
    width: 387px;
    height: 161px;
    left: 1464px;
    top: 28px;
    overflow: visible;
    }
    .digital_Class {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 216px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(0,0,0,1);
    }
    .pathways_Class {
    position: absolute;
    left: 43px;
    top: 68px;
    overflow: visible;
    width: 345px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(0,0,0,1);
    }
    .pexels_photo_91227_Class {
    opacity: 0.797;
    }
    .pexels_photo_91227 {
    position: absolute;
    overflow: visible;
    width: 263px;
    height: 263px;
    left: 81px;
    top: 163px;
    }
    .kallum_johnson_Class {
    position: absolute;
    left: 404px;
    top: 202px;
    overflow: visible;
    width: 306px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: rgba(46,46,46,1);
    }
    .london__uk_Class {
    position: absolute;
    left: 404px;
    top: 350px;
    overflow: visible;
    width: 148px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    color: rgba(112,112,112,1);
    }
    .year_12_student_Class {
    position: absolute;
    left: 404px;
    top: 264px;
    overflow: visible;
    width: 249px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    color: rgba(112,112,112,1);
    }
    .please_select_your_top_five_in_Class {
    position: absolute;
    left: 81px;
    top: 516px;
    overflow: visible;
    width: 1060px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: rgba(46,46,46,1);
    }
    .Line_2 {
    overflow: visible;
    position: absolute;
    width: 295.5px;
    height: 1px;
    left: 80.5px;
    top: 721.5px;
    transform: matrix(1,0,0,1,0,0);
    }
    .skill_1_Class {
    position: absolute;
    left: 81px;
    top: 671px;
    overflow: visible;
    width: 296px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(112,112,112,1);
    }
    .Group_4_Class {
    position: absolute;
    width: 295.5px;
    height: 50.5px;
    left: 446.5px;
    top: 671px;
    overflow: visible;
    }
    .Line_2_A3_Line_2 {
    overflow: visible;
    position: absolute;
    width: 295.5px;
    height: 1px;
    left: 0px;
    top: 50.5px;
    transform: matrix(1,0,0,1,0,0);
    }
    .skill_2_Class {
    position: absolute;
    left: 1.5px;
    top: 0px;
    overflow: visible;
    width: 296px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(112,112,112,1);
    }
    .Group_5_Class {
    position: absolute;
    width: 295.5px;
    height: 50.5px;
    left: 812.5px;
    top: 671px;
    overflow: visible;
    }
    .Line_2_A3_Line_3 {
    overflow: visible;
    position: absolute;
    width: 295.5px;
    height: 1px;
    left: 0px;
    top: 50.5px;
    transform: matrix(1,0,0,1,0,0);
    }
    .skill_3_Class {
    position: absolute;
    left: 0.5px;
    top: 0px;
    overflow: visible;
    width: 296px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(112,112,112,1);
    }
    .Group_6_Class {
    position: absolute;
    width: 295.5px;
    height: 50.5px;
    left: 1178.5px;
    top: 671px;
    overflow: visible;
    }
    .Line_2_A3_Line_4 {
    overflow: visible;
    position: absolute;
    width: 295.5px;
    height: 1px;
    left: 0px;
    top: 50.5px;
    transform: matrix(1,0,0,1,0,0);
    }
    .skill_4_Class {
    position: absolute;
    left: 0.5px;
    top: 0px;
    overflow: visible;
    width: 296px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(112,112,112,1);
    }
    .Group_7_Class {
    position: absolute;
    width: 295.5px;
    height: 50.5px;
    left: 1544.5px;
    top: 671px;
    overflow: visible;
    }
    .Line_2_A3_Line_5 {
    overflow: visible;
    position: absolute;
    width: 295.5px;
    height: 1px;
    left: 0px;
    top: 50.5px;
    transform: matrix(1,0,0,1,0,0);
    }
    .skill_5_Class {
    position: absolute;
    left: 0.5px;
    top: 0px;
    overflow: visible;
    width: 296px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    color: rgba(112,112,112,1);
    }
    .Group_8_Class {
    transform: matrix(1,0,0,1,343.5,684.9999) rotate(360deg);
    transform-origin: center;
    position: absolute;
    width: 22.5px;
    height: 11.25px;
    left: 0px;
    top: 0px;
    overflow: visible;
    }
    .Line_3 {
    overflow: visible;
    position: absolute;
    width: 11.957px;
    height: 11.957px;
    left: 11.25px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    }
    .Line_4 {
    overflow: visible;
    position: absolute;
    width: 11.957px;
    height: 11.957px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    }
    .Group_9_Class {
    transform: matrix(1,0,0,1,709.5,684.9999) rotate(360deg);
    transform-origin: center;
    position: absolute;
    width: 22.5px;
    height: 11.25px;
    left: 0px;
    top: 0px;
    overflow: visible;
    }
    .Line_3_A3_Line_8 {
    overflow: visible;
    position: absolute;
    width: 11.957px;
    height: 11.957px;
    left: 11.25px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    }
    .Line_4_A3_Line_9 {
    overflow: visible;
    position: absolute;
    width: 11.957px;
    height: 11.957px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    }
    .Group_10_Class {
    transform: matrix(1,0,0,1,1075.5,684.9999) rotate(360deg);
    transform-origin: center;
    position: absolute;
    width: 22.5px;
    height: 11.25px;
    left: 0px;
    top: 0px;
    overflow: visible;
    }
    .Line_3_A3_Line_10 {
    overflow: visible;
    position: absolute;
    width: 11.957px;
    height: 11.957px;
    left: 11.25px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    }
    .Line_4_A3_Line_11 {
    overflow: visible;
    position: absolute;
    width: 11.957px;
    height: 11.957px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    }
    .Group_11_Class {
    transform: matrix(1,0,0,1,1441.5,684.9999) rotate(360deg);
    transform-origin: center;
    position: absolute;
    width: 22.5px;
    height: 11.25px;
    left: 0px;
    top: 0px;
    overflow: visible;
    }
    .Line_3_A3_Line_12 {
    overflow: visible;
    position: absolute;
    width: 11.957px;
    height: 11.957px;
    left: 11.25px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    }
    .Line_4_A3_Line_13 {
    overflow: visible;
    position: absolute;
    width: 11.957px;
    height: 11.957px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    }
    .Group_12_Class {
    transform: matrix(1,0,0,1,1807.5,684.9999) rotate(360deg);
    transform-origin: center;
    position: absolute;
    width: 22.5px;
    height: 11.25px;
    left: 0px;
    top: 0px;
    overflow: visible;
    }
    .Line_3_A3_Line_14 {
    overflow: visible;
    position: absolute;
    width: 11.957px;
    height: 11.957px;
    left: 11.25px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    }
    .Line_4_A3_Line_15 {
    overflow: visible;
    position: absolute;
    width: 11.957px;
    height: 11.957px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    }
    .Group_22_Class {
    position: absolute;
    width: 220px;
    height: 82px;
    left: 1619px;
    top: 911px;
    overflow: visible;
    }
    .Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 220px;
    height: 82px;
    left: 0px;
    top: 0px;
    }
    .submit_Class {
    position: absolute;
    left: 73px;
    top: 26px;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(112,112,112,1);
    }
    .Group_25_Class {
    position: absolute;
    width: 220px;
    height: 82px;
    left: 81px;
    top: 911px;
    overflow: visible;
    }
    .Rectangle_2_A3_Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 220px;
    height: 82px;
    left: 0px;
    top: 0px;
    }
    .back_Class {
    position: absolute;
    left: 84px;
    top: 26px;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(112,112,112,1);
    }
    ._digital_skills_are_in_high_de_Class {
    position: absolute;
    left: 1051px;
    top: 249px;
    overflow: visible;
    width: 790px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(112,112,112,1);
    letter-spacing: 0.25px;
    }
    button {
    background-color: transparent;
    cursor: pointer;
    }
    select {
      -webkit-appearance: none;
      background-color: transparent;
      cursor: pointer;
      z-index: 999;
    }
    select:focus {
      outline: none;
    }

  script#applicationScript(type='text/javascript' src='/static/xd_javascript/skills.js')

#Skills.Skills_Class
  .wednesday__20th_november_2019_Class
    span#date

  form(action='home' method='POST')
    button.Group_2_Class(type='submit')
      .digital_Class
        span digital
      .pathways_Class
        span pathways

  svg.pexels_photo_91227
    pattern#pexels_photo_91227_A3_Ellipse_2_pattern(elementid='pexels_photo_91227_A3_Ellipse_2' x='0' y='0' width='100%' height='100%')
      image(x='0' y='0' width='100%' height='100%' href=profilePicture xlink:href=profilePicture)
    ellipse.pexels_photo_91227_Class(fill='url(#pexels_photo_91227_A3_Ellipse_2_pattern)' rx='131.5' ry='131.5' cx='131.5' cy='131.5')

  .kallum_johnson_Class
    span #{fullName}

  .london__uk_Class
    span #{location}

  .year_12_student_Class
    span #{sixthFormYear}

  .please_select_your_top_five_in_Class
    span please select your top five information technology skills

  svg.Line_2(viewbox='0 0 295.5 1')
    path.Line_2_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 0 0 L 295.5 0')

  select.skill_1_Class
    option
      span skill 1

  .Group_4_Class
    svg.Line_2_A3_Line_2(viewbox='0 0 295.5 1')
      path.Line_2_A3_Line_2_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 0 0 L 295.5 0')
    select.skill_2_Class
      option
        span skill 2

  .Group_5_Class
    svg.Line_2_A3_Line_3(viewbox='0 0 295.5 1')
      path.Line_2_A3_Line_3_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 0 0 L 295.5 0')
    select.skill_3_Class
      option
        span skill 3

  .Group_6_Class
    svg.Line_2_A3_Line_4(viewbox='0 0 295.5 1')
      path.Line_2_A3_Line_4_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 0 0 L 295.5 0')
    select.skill_4_Class
      option
        span skill 4

  .Group_7_Class
    svg.Line_2_A3_Line_5(viewbox='0 0 295.5 1')
      path.Line_2_A3_Line_5_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 0 0 L 295.5 0')
    select.skill_5_Class
      option
        span skill 5

  .Group_8_Class
    svg.Line_3(viewbox='0 0 11.25 11.25')
      path.Line_3_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 0 11.25011539459229 L 11.25011539459229 0')
    svg.Line_4(viewbox='0 0 11.25 11.25')
      path.Line_4_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 11.25011539459229 11.25011539459229 L 0 0')

  .Group_9_Class
    svg.Line_3_A3_Line_8(viewbox='0 0 11.25 11.25')
      path.Line_3_A3_Line_8_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 0 11.25011539459229 L 11.25011539459229 0')
    svg.Line_4_A3_Line_9(viewbox='0 0 11.25 11.25')
      path.Line_4_A3_Line_9_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 11.25011539459229 11.25011539459229 L 0 0')

  .Group_10_Class
    svg.Line_3_A3_Line_10(viewbox='0 0 11.25 11.25')
      path.Line_3_A3_Line_10_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 0 11.25011539459229 L 11.25011539459229 0')
    svg.Line_4_A3_Line_11(viewbox='0 0 11.25 11.25')
      path.Line_4_A3_Line_11_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 11.25011539459229 11.25011539459229 L 0 0')

  .Group_11_Class
    svg.Line_3_A3_Line_12(viewbox='0 0 11.25 11.25')
      path.Line_3_A3_Line_12_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 0 11.25011539459229 L 11.25011539459229 0')
    svg.Line_4_A3_Line_13(viewbox='0 0 11.25 11.25')
      path.Line_4_A3_Line_13_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 11.25011539459229 11.25011539459229 L 0 0')

  .Group_12_Class
    svg.Line_3_A3_Line_14(viewbox='0 0 11.25 11.25')
      path.Line_3_A3_Line_14_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 0 11.25011539459229 L 11.25011539459229 0')
    svg.Line_4_A3_Line_15(viewbox='0 0 11.25 11.25')
      path.Line_4_A3_Line_15_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' d='M 11.25011539459229 11.25011539459229 L 0 0')
  
  form(action='survey' method='POST')
    button.Group_22_Class(type='submit')
      svg.Rectangle_2
        rect.Rectangle_2_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' rx='0' ry='0' x='0' y='0' width='220' height='82')
      .submit_Class
        span submit

  form(action='home' method='POST')
    button.Group_25_Class(type='submit')
      svg.Rectangle_2_A3_Rectangle_4
        rect.Rectangle_2_A3_Rectangle_4_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' rx='0' ry='0' x='0' y='0' width='220' height='82')
      .back_Class
        span back

  ._digital_skills_are_in_high_de_Class
    span
      i
        | &ldquo;digital skills are in high demand right now. even if you&rsquo;re not
        br
        | 100% into technology, there will definitely be a job for you
        br
        | within the digital sector&rdquo;

script.
  let d = new Date();
  let day = d.getDate();
  let weekday = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'][d.getDay()];
  let month = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december'][d.getMonth()];
  let year = d.getFullYear();
  let suffix = (day == 1) || (day == 21) || (day == 31) ? 'st' :
  (day == 2) || (day == 22) ? 'nd' :
  (day == 3) || (day == 23) ? 'rd' : 'th';
  let dateString = `${weekday}, ${day}${suffix} ${month} ${year}`;
  document.getElementById('date').innerHTML = dateString;