doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title top jobs - digital pathways

  style#applicationStylesheet(type='text/css').
    body {
    background:
    linear-gradient(
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
    ),
    url('/static/images/background.jpg');
    height: 100vh;
    background-size: cover;
    }
    .mediaViewInfo {
    --web-view-name: Top Jobs;
    --web-view-id: Top_Jobs;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
    }
    :root {
    --web-view-ids: Top_Jobs;
    }
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    }
    .Top_Jobs_Class {
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    --web-view-name: Top Jobs;
    --web-view-id: Top_Jobs;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-application: true;
    --web-enable-deep-linking: true;
    }
    .Rectangle_3 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 1776px;
    height: 253px;
    left: 81px;
    top: 347px;
    }
    .Rectangle_4 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 1776px;
    height: 253px;
    left: 81px;
    top: 596px;
    }
    .wednesday__20th_november_2019_Class {
    position: absolute;
    left: 81px;
    top: 28px;
    overflow: visible;
    width: 309px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(112,112,112,1);
    }
    .Group_2_Class {
    position: absolute;
    width: 387px;
    height: 161px;
    left: 1464px;
    top: 28px;
    overflow: visible;
    }
    .digital_Class {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 216px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(0,0,0,1);
    }
    .pathways_Class {
    position: absolute;
    left: 43px;
    top: 68px;
    overflow: visible;
    width: 345px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(0,0,0,1);
    }
    .here_are_the_top_jobs_that_we__Class {
    position: absolute;
    left: 81px;
    top: 232px;
    overflow: visible;
    width: 1065px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: rgba(46,46,46,1);
    }
    .Group_24_Class {
    position: absolute;
    width: 220px;
    height: 82px;
    left: 1619px;
    top: 911px;
    overflow: visible;
    }
    .Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 220px;
    height: 82px;
    left: 0px;
    top: 0px;
    }
    .case_studies_Class {
    position: absolute;
    left: 45px;
    top: 26px;
    overflow: visible;
    width: 136px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(112,112,112,1);
    }
    .ui___ux_designer_Class {
    position: absolute;
    left: 113px;
    top: 377px;
    overflow: visible;
    width: 271px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
    }
    .software_developer_Class {
    position: absolute;
    left: 113px;
    top: 626px;
    overflow: visible;
    width: 320px;
    white-space: nowrap;
    text-align: left;
    font-family: Myanmar Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112,112,112,1);
    }
    ._24_500_Class {
    position: absolute;
    left: 474px;
    top: 391px;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
    }
    ._26_500_Class {
    position: absolute;
    left: 474px;
    top: 640px;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
    }
    .lorem_ipsum_dolor_sit_amet__co_Class {
    position: absolute;
    left: 113px;
    top: 440px;
    overflow: visible;
    width: 1690px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,0.616);
    }
    .Lorem_ipsum_dolor_sit_amet__co_Class {
    position: absolute;
    left: 113px;
    top: 689px;
    overflow: visible;
    width: 1690px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,0.616);
    }
    .Group_27_Class {
    position: absolute;
    width: 220px;
    height: 82px;
    left: 81px;
    top: 911px;
    overflow: visible;
    }
    .Rectangle_2_A5_Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 220px;
    height: 82px;
    left: 0px;
    top: 0px;
    }
    .back_Class {
    position: absolute;
    left: 84px;
    top: 26px;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: left;
    font-family: Malayalam Sangam MN;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(112,112,112,1);
    }
    button {
    background-color: transparent;
    cursor: pointer;
    }

  script#applicationScript(type='text/javascript' src='/static/xd_javascript/topJobs.js')

#Top_Jobs.Top_Jobs_Class
  svg.Rectangle_3
    rect.Rectangle_3_Class(fill='rgba(186,255,155,0.8)' rx='0' ry='0' x='0' y='0' width='1758' height='235')

  svg.Rectangle_4
    rect.Rectangle_4_Class(fill='rgba(255,255,255,0.8)' rx='0' ry='0' x='0' y='0' width='1758' height='235')

  .wednesday__20th_november_2019_Class
    span#date

  form(action='home' method='POST')
    button.Group_2_Class(type='submit')
      .digital_Class
        span digital
      .pathways_Class
        span pathways

  .here_are_the_top_jobs_that_we__Class
    span here are the top jobs that we have found for you, #{firstName}

  form(action='caseStudies' method='POST')
    button.Group_24_Class(type='submit')
      svg.Rectangle_2
        rect.Rectangle_2_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' rx='0' ry='0' x='0' y='0' width='220' height='82')
      .case_studies_Class
        span case studies

  .ui___ux_designer_Class
    span #{jobTitle_A}

  .software_developer_Class
    span #{jobTitle_B}

  ._24_500_Class
    span #{jobSalary_A}

  ._26_500_Class
    span #{jobSalary_B}

  .lorem_ipsum_dolor_sit_amet__co_Class
    span #{jobDescription_A}

  .Lorem_ipsum_dolor_sit_amet__co_Class
    span #{jobDescription_B}
  
  form(action='survey' method='POST')
    button.Group_27_Class(type='submit')
      svg.Rectangle_2_A5_Rectangle_6
        rect.Rectangle_2_A5_Rectangle_6_Class(fill='transparent' stroke='rgba(112,112,112,1)' stroke-width='1px' stroke-linejoin='miter' stroke-linecap='butt' stroke-miterlimit='4' shape-rendering='auto' rx='0' ry='0' x='0' y='0' width='220' height='82')
      .back_Class
        span back

script.
  let d = new Date();
  let day = d.getDate();
  let weekday = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'][d.getDay()];
  let month = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december'][d.getMonth()];
  let year = d.getFullYear();
  let suffix = (day == 1) || (day == 21) || (day == 31) ? 'st' :
  (day == 2) || (day == 22) ? 'nd' :
  (day == 3) || (day == 23) ? 'rd' : 'th';
  let dateString = `${weekday}, ${day}${suffix} ${month} ${year}`;
  document.getElementById('date').innerHTML = dateString;